.Component {
  grid-column: 1 / span 5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: table;
}

.Component ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Component li {
  display: block;
  margin: 16px 24px;
}

.Component a {
  padding: 16px;
  text-decoration: none;
  font-size: 1.1em;
  color: var(--blue-secondary);
  text-transform: uppercase;
}