@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
.Component {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
}

/* Notification */

.Component .Notification {
  position: absolute;
  background-color: #fff;
  color: #fff;
  right: calc(25% + 6px);
  top: 42px;
  /* 5 + 37(24 + 13) = 42px */
  border-radius: 0 0 3px 3px;
  box-shadow: 3px 3px 15px #666;
  z-index: 99;
}

.Component .Notification ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 460px;
  max-height: 400px;
  overflow: auto;
}

.Component .Notification::after {
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  top: -16px;
  left: 50%;
  margin-left: -8px;
  z-index: 100;
}

.Component .Notification li {
  /* width: 100%; */
  display: block;
  border-bottom: 1px solid #999;
  margin: 0 !important;
}

.Component .Notification li:last-child {
  border-bottom: none;
}

.Component .Notification a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px !important;
  font-size: 1.1em !important;
  color: #000;
  transition: background-color .1s, color .1s;
}

.Component .Notification a:hover {
  background-color: var(--blue-primary);
  color: #fff;
}

.Component .Notification a:hover i {
  color: var(--red-secondary);
}

.Component .Notification i {
  font-size: 2.4em;
  padding: 0 12px;
  color: var(--blue-secondary);
}

/* Nav */

.Component .Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 8px 16px;
  position: relative;
}

.Component .Nav li {
  display: block;
  margin: 0 16px;
}

.Component .Nav li a {
  text-decoration: none;
  color: #000;
  font-size: 1.4em;
  font-family: 'ZCOOL XiaoWei', serif;
}

.Component .Nav li i {
  margin-right: 8px;
}

/* SearchForm */

.Component .Form input {
  border-radius: 3px;
  font-size: 1.07em;
  border: none;
  outline: none;
  padding: 8px 16px;
  width: 400px;
  transition: box-shadow .2s, border-color .2s;
}

.Component .Form input:focus {
  box-shadow: 0 0 0 .2rem var(--secondary);
}

.Component .Form .searchGroup {
  cursor: pointer;
  font-size: 1.07em;
  background-color: #eee;
  border-radius: 0 3px 3px 0;
  padding: 8px 16px 10px;
  width: 120px;
  font-family: 'ZCOOL XiaoWei', serif;
  display: inline-block;
}

.Component .Form i {
  font-size: 1.07em;
  margin-right: 8px;
}